docs/make-scenario-scan.json
{
  "name": "ADL Timesheets — Scenario B: Scan Inbox",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 0,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {
          "parameters": {
            "hook": { "label": "Create a new webhook — name it ADL Scan Inbox" }
          }
        }
      }
    },
    {
      "id": 2,
      "module": "dropbox:listAllFilesSubfoldersInFolder",
      "version": 5,
      "parameters": {
        "__IMTCONN__": 0
      },
      "mapper": {
        "path": "/Timesheets/Inbox",
        "includeMediaInfo": false,
        "includeDeleted": false,
        "limit": 50
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "restore": {
          "parameters": {
            "__IMTCONN__": { "label": "Connect your Dropbox account" }
          }
        }
      }
    },
    {
      "id": 3,
      "module": "json:AggregateToJSON",
      "version": 1,
      "parameters": {
        "feeder": 2
      },
      "mapper": {
        "object": {
          "name": "{{2.name}}",
          "size": "{{round(divide(2.size; 1024))}} KB",
          "modified": "{{formatDate(2.server_modified; 'DD MMM YYYY HH:mm')}}"
        }
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 }
      }
    },
    {
      "id": 4,
      "module": "gateway:WebhookRespond",
      "version": 1,
      "parameters": {},
      "mapper": {
        "status": "200",
        "headers": [
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Access-Control-Allow-Origin", "value": "*" }
        ],
        "body": "{{3.json}}"
      },
      "metadata": {
        "designer": { "x": 900, "y": 0 }
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com"
  },
  "_setup": [
    "1. Delete the broken scenario in Make",
    "2. Create new scenario → three-dot menu → Import Blueprint → paste this file",
    "3. Save into folder: Timesheets",
    "4. Module 1 (Webhook): create a new webhook, name it 'ADL Scan Inbox'",
    "5. Module 2 (Dropbox): connect your Dropbox account, confirm path is /Timesheets/Inbox",
    "6. Module 3 (JSON Aggregator): no changes needed",
    "7. Module 4 (Webhook Response): no changes needed",
    "8. Save and activate the scenario",
    "9. Copy the webhook URL from Module 1 → cockpit Settings → Scan Inbox Webhook URL",
    "10. Test: Run once in Make, then click Scan Inbox in the cockpit"
  ],
  "_notes": [
    "4 modules — all schema-validated against the Make API before delivery",
    "Files appear with amber '? Unverified' badge — column header checking happens in Scenario A",
    "json:AggregateToJSON collects all Dropbox file bundles into a single JSON array",
    "Make sure /Timesheets/Inbox exists in Dropbox before testing"
  ]
}
