docs/make-scenario-import.json
{
  "name": "ADL Timesheets — Scenario A: Full Import",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 0,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {
          "parameters": {
            "hook": { "label": "Create a new webhook — name it ADL Write to Notion" }
          }
        }
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": {
        "array": "{{1.files}}"
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "_comment": "Iterates over the array of filenames sent by the cockpit"
      }
    },
    {
      "id": 3,
      "module": "dropbox:getFile",
      "version": 5,
      "parameters": {
        "__IMTCONN__": 0
      },
      "mapper": {
        "path": "/Timesheets/Inbox/{{2.value}}"
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "restore": {
          "parameters": {
            "__IMTCONN__": { "label": "Connect your Dropbox account" }
          }
        }
      }
    },
    {
      "id": 4,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDecompression": true
      },
      "mapper": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "headers": [
          { "name": "x-api-key", "value": "YOUR_ANTHROPIC_API_KEY" },
          { "name": "anthropic-version", "value": "2023-06-01" },
          { "name": "content-type", "value": "application/json" }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "body": "{\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Parse this Excel timesheet file and return all data rows as a JSON array.\\n\\nSource file: {{2.value}}\\nFile data (base64): {{3.data}}\\n\\nReturn ONLY a raw JSON array — no markdown, no explanation.\"\n    }\n  ],\n  \"system\": \"{{escapeMarkdown(getVariable('CLAUDE_PARSE_SYSTEM_PROMPT'))}}\"\n}",
        "timeout": 60
      },
      "metadata": {
        "designer": { "x": 900, "y": 0 }
      }
    },
    {
      "id": 5,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": {},
      "mapper": {
        "json": "{{parseJSON(4.body).content[1].text}}"
      },
      "metadata": {
        "designer": { "x": 1200, "y": 0 }
      }
    },
    {
      "id": 6,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": {
        "array": "{{5.array}}"
      },
      "metadata": {
        "designer": { "x": 1500, "y": 0 },
        "_comment": "Iterates over each normalised row object from Claude"
      }
    },
    {
      "id": 7,
      "module": "notion:createAPage",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 0
      },
      "mapper": {
        "object": "database",
        "value": "197210e4582e808781be000b8525577a",
        "properties": [
          {
            "name": "Person",
            "type": "rich_text",
            "value": "{{6.value.person}}"
          },
          {
            "name": "Project",
            "type": "rich_text",
            "value": "{{6.value.project}}"
          },
          {
            "name": "Category",
            "type": "select",
            "value": "{{6.value.category}}"
          },
          {
            "name": "Description",
            "type": "rich_text",
            "value": "{{6.value.description}}"
          },
          {
            "name": "Date",
            "type": "date",
            "value": "{{6.value.date}}"
          },
          {
            "name": "Day",
            "type": "select",
            "value": "{{6.value.day}}"
          },
          {
            "name": "Hours",
            "type": "number",
            "value": "{{6.value.hours}}"
          },
          {
            "name": "Import Status",
            "type": "select",
            "value": "{{6.value.import_status}}"
          },
          {
            "name": "Source File",
            "type": "rich_text",
            "value": "{{2.value}}"
          }
        ]
      },
      "metadata": {
        "designer": { "x": 1800, "y": 0 },
        "restore": {
          "parameters": {
            "__IMTCONN__": { "label": "Connect your Notion account" }
          }
        }
      }
    },
    {
      "id": 8,
      "module": "dropbox:moveFileFolder",
      "version": 5,
      "parameters": {
        "__IMTCONN__": 0
      },
      "mapper": {
        "fromPath": "/Timesheets/Inbox/{{2.value}}",
        "toPath": "/Timesheets/Processed/{{2.value}}",
        "autoRename": true
      },
      "metadata": {
        "designer": { "x": 600, "y": 200 },
        "restore": {
          "parameters": {
            "__IMTCONN__": { "label": "Connect your Dropbox account" }
          }
        }
      }
    },
    {
      "id": 9,
      "module": "gateway:WebhookRespond",
      "version": 1,
      "parameters": {},
      "mapper": {
        "status": "200",
        "headers": [
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Access-Control-Allow-Origin", "value": "*" }
        ],
        "body": "{\"status\": \"ok\", \"file\": \"{{2.value}}\"}"
      },
      "metadata": {
        "designer": { "x": 2100, "y": 0 }
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com"
  },
  "_setup": [
    "1. Delete the broken scenario in Make",
    "2. Create new scenario → three-dot menu → Import Blueprint → paste this file",
    "3. Save into folder: Timesheets",
    "4. Module 1 (Webhook): create new webhook, name it 'ADL Write to Notion'",
    "5. Module 3 (Dropbox Download): connect Dropbox — confirm path uses {{2.value}}",
    "6. Module 4 (HTTP): replace YOUR_ANTHROPIC_API_KEY in the x-api-key header",
    "7. Module 7 (Notion): connect Notion account — confirm DB ID is correct",
    "8. Module 8 (Dropbox Move): connect Dropbox — create /Timesheets/Processed/ folder first",
    "9. Scenario Settings → turn OFF Sequential processing",
    "10. Create Make variable CLAUDE_PARSE_SYSTEM_PROMPT — paste content from docs/claude-normalise-prompt.md",
    "11. Copy webhook URL from Module 1 → cockpit Settings → Write to Notion Webhook URL"
  ]
}
